In [2]:
# Preperation

try:
  from google.colab import drive
  drive.mount('/content/drive/')
  shared_drive_foldername = 'NUTRECON'
  root = '/content/drive/Shareddrives/{}/'.format(shared_drive_foldername)
  %pip install pandas==1.4.2
  print('Running Code in Colab')
except:
  root = 'D:/FV/Projects/NUTRECON/nutreconDrive/'
  print('Running Code locally')

import sys
sys.path.append(root + '1. Acquisition/notebooks')

from nutrecon import *

import numpy as np
from glob import glob
from datetime import datetime
import json

from random import shuffle, sample
import pandas as pd

from sklearn.metrics import classification_report, confusion_matrix
from matplotlib.patches import Rectangle
import matplotlib.pyplot as plt
import seaborn as sns

subject_nr = 1

_v_ = Vars()

experiment_code = _v_.experiment_code
dataPath = _v_.dataPath

neuroEcon_id = _v_.neuroEcon_id
responses_dataPath = _v_.responses_dataPath

Running Code locally
Running Code locally

In [14]:
mriTests_path = 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses/'
trigger_id = 'mriTrigger'
frameTS_id = 'timestamps_frame'
trialTS_id = 'timestamps_trial'
optionTS_id= 'timestamp_option' 

frameTS_paths = glob('{}*{}*1674201858.json'.format(mriTests_path, frameTS_id))
frameTS_paths

['C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_1_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_2_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_3_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_4_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_5_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_6_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_7_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_8_1674201858.json',
 'C:/Users/Admin/AppData/Roaming/Godot/app_userdata/Nutrecon Mri Test/responses\\mritest_day2_timestamps_frame_9_1674201858.json']

Perguntar ao Nuno quantos TRs entre cada Trigger

In [23]:
frameTS_paths
for p in frameTS_paths:
    df_tmp = pd.read_json(p)
    if p == frameTS_paths[0]:
        frameTS_df = df_tmp
    else:
        frameTS_df = pd.concat([frameTS_df, df_tmp])
frames_per_trigger = pd.DataFrame(frameTS_df['trigger_id'].value_counts()).drop(labels=[0,24], axis = 0).sort_index()
frames_per_trigger['time'] = frames_per_trigger['trigger_id']*1/160
frames_per_trigger

    trigger_id      time
1         1116   6.97500
2         1116   6.97500
3         2223  13.89375
4         1116   6.97500
5         1107   6.91875
6         1116   6.97500
7         1116   6.97500
8         1007   6.29375
9          992   6.20000
10         976   6.10000
11         992   6.20000
12         992   6.20000
13         984   6.15000
14         992   6.20000
15         992   6.20000
16         984   6.15000
17         992   6.20000
18         984   6.15000
19         992   6.20000
20         992   6.20000
21         984   6.15000
22         992   6.20000
23         992   6.20000